<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>海底人魚城からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-bgc2 main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/header.png" alt="海底人魚城からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>さぁゲームを始めよう！</h2>
            <p class="text-center bgc-white"><ruby><rb>壁</rb><rp>(</rp><rt>かべ</rt><rp>)</rp></ruby>に何か書いてある、もしかして<ruby><rb>牢屋</rb><rp>(</rp><rt>ろうや</rt><rp>)</rp></ruby>のロックを<ruby><rb>解</rb><rp>(</rp><rt>と</rt><rp>)</rp></ruby>くパスワードか…?</p>
            <p class="text-center bgc-white">こまったときは、ヒントがある。なるべく見ないようにゲームをすすめていこう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/q1.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを<ruby>入力<rt>にゅうりょく</rt></ruby>(カタカナで<ruby>回答<rt>かいとう</rt></ruby>)</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">
                <ruby><rb>牢屋</rb><rp>(</rp><rt>ろうや</rt><rp>)</rp></ruby>の<ruby><rb>鍵</rb><rp>(</rp><rt>かぎ</rt><rp>)</rp></ruby>が<ruby><rb>開</rb><rp>(</rp><rt>あ</rt><rp>)</rp></ruby>いた！<br>そういえば、この前サンゴのニュースを見たな…<br>
                 <ruby><rb>温暖化</rb><rp>(</rp><rt>おんだんか</rt><rp>)</rp></ruby>の<ruby><rb>影響</rb><rp>(</rp><rt>えいきょう</rt><rp>)</rp></ruby>をうけて、海がサンゴにとって<ruby><rb>住</rb><rp>(</rp><rt>す</rt><rp>)</rp></ruby>みにくい<ruby><rb>環境</rb><rp>(</rp><rt>かんきょう</rt><rp>)</rp></ruby>なりつつあるようだ。<br>
                  さぁ<ruby><rb>海面</rb><rp>(</rp><rt>かいめん</rt><rp>)</rp></ruby>に<ruby><rb>もどるため、この<ruby><rb>建物</rb><rp>(</rp><rt>たてもの</rt><rp>)</rp></ruby>から<ruby><rb>抜</rb><rp>(</rp><rt>ぬ</rt><rp>)</rp></ruby>け<ruby><rb>出</rb><rp>(</rp><rt>で</rt><rp>)</rp></ruby>そう！
              </div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>手紙の謎を解け！</h2>
              <p class="text-center bgc-white"><ruby><rb>牢屋</rb><rp>(</rp><rt>ろうや</rt><rp>)</rp></ruby>から出たら<ruby><rb>手紙</rb><rp>(</rp><rt>てがみ</rt><rp>)</rp></ruby>を見つけた。きっと<ruby><rb>誰</rb><rp>(</rp><rt>だれ</rt><rp>)</rp></ruby>か<ruby><rb>落</rb><rp>(</rp><rt>お</rt><rp>)</rp></ruby>としたんだろう。<br>
                しかし、<ruby><rb>暗号</rb><rp>(</rp><rt>あんごう</rt><rp>)</rp></ruby>になっていてそのままでは<ruby><rb>読</rb><rp>(</rp><rt>よ</rt><rp>)</rp></ruby>めない・・・。<br>
                <ruby><rb>番</rb><rp>(</rp><rt>ばん</rt><rp>)</rp></ruby><ruby><rb>号</rb><rp>(</rp><rt>ごう</rt><rp>)</rp></ruby>に文字を<ruby><rb>当</rb><rp>(</rp><rt>あ</rt><rp>)</rp></ruby>てはめるのだろうか。            
              </p>
                  <figure class="image__container">
                    <img src="assets/images/q2.jpg" alt="">
                  </figure>
              
                
              </p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを<ruby>入力<rt>にゅうりょく</rt></ruby>(カタカナで<ruby>回答<rt>かいとう</rt></ruby>)</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input> 
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">
                女王はプラスチックが<ruby><rb>原因</rb><rp>(</rp><rt>げんいん</rt><rp>)</rp></ruby>で病気になっていたのか。<br>
                これを<ruby><rb>治</rb><rp>(</rp><rt>なお</rt><rp>)</rp></ruby>してあげれば、お礼に地上に帰らせてくれるかもしれない・・・！
              </div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>女王の部屋のロックを解こう！</h2>
            <p class="text-center bgc-white">
            ついに女王の<ruby><rb>部屋</rb><rp>(</rp><rt>へや</rt><rp>)</rp></ruby>の前までたどりついた！<br>
            どうやら、<ruby><rb>部屋</rb><rp>(</rp><rt>へや</rt><rp>)</rp></ruby>のドアにはロックがかかっているようだ。しかし、ここを通らないと女王に会うことができない！<br>
            女王の<ruby><rb>部屋</rb><rp>(</rp><rt>へや</rt><rp>)</rp></ruby>のロックを<ruby><rb>解</rb><rp>(</rp><rt>と</rt><rp>)</rp></ruby>くために<ruby><rb>最後</rb><rp>(</rp><rt>さいご</rt><rp>)</rp></ruby>の<ruby><rb>謎</rb><rp>(</rp><rt>なぞ</rt><rp>)</rp></ruby>を<ruby><rb>解</rb><rp>(</rp><rt>と</rt><rp>)</rp></ruby>いていこう！
            </p>
            <figure class="image__container">
              <img src="assets/images/gate.jpg" alt="">
            </figure>
            <figure class="image__container">
              <img src="assets/images/cross.png" alt="">
            </figure>
            
            <figure class="image__container">
              <img src="assets/images/q3-1.jpg" alt="">
            </figure>
          
        　　<figure class="image__container">
              <img src="assets/images/q3-2.jpg" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを<ruby>入力<rt>にゅうりょく</rt></ruby>(ひらがなで<ruby>回答<rt>かいとう</rt></ruby>)</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

<!-- STAGE3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STAGE3-3追加　ここまで -->

          
      </div>
      <!-- STAGE3　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center"><ruby>授業主催<rt>じゅぎょうしゅさい</rt></ruby>： <ruby>N<rt>エヌ</rt></ruby>・<ruby>S<rt>エス</rt></ruby><ruby>高<rt>こう</rt></ruby><br><ruby>協力<rt>きょうりょく</rt></ruby>：<ruby>株式会社<rt>かぶしきがいしゃ</rt></ruby><ruby>SCRAP<rt>スペース</rt></ruby><br><ruby>企画制作<rt>きかくせいさく</rt></ruby>：<ruby>N<rt>エヌ</rt></ruby>・<ruby>S高生<rt>エスこうせい</rt></ruby></p>
      <p class="text-center">「リアル<ruby>脱出<rt>だっしゅつ</rt></ruby>ゲーム」は<ruby>株式会社<rt>かぶしきがいしゃ</rt></ruby><ruby>SCRAP<rt>スペース</rt></ruby>の<ruby>登録<rt>とうろく</rt></ruby><ruby>商標<rt>しょうひょう</rt></ruby>です。</p>
      <p class="text-center"><ruby>株式会社<rt>かぶしきがいしゃ</rt></ruby><ruby>SCRAP<rt>スペース</rt></ruby>と<ruby>N<rt>エヌ</rt></ruby>・<ruby>S高<rt>エスこう</rt></ruby>で<ruby>実施<rt>じっし</rt></ruby>した<ruby>授業<rt>じゅぎょう</rt></ruby>「リアル<ruby>脱出<rt>だっしゅつ</rt></ruby>ゲームの<ruby>作<rt>つく</rt></ruby>り<ruby>方<rt>かた</rt></ruby>」の<ruby>一環<rt>いっかん</rt></ruby>で<br><ruby>生徒<rt>せいと</rt></ruby>が<ruby>制作<rt>せいさく</rt></ruby>したものであり、<ruby>SCRAP<rt>スペース</rt></ruby>が<ruby>主催<rt>しゅさい</rt></ruby>/<ruby>公認<rt>こうにん</rt></ruby>するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
